.navbar-collapse {
    padding-left: 0;
}

div.well h1 {
    font-family: Lato;
}

div.jumbotron {
    background: url('/assets/img/main_background.jpg') no-repeat 50% 10px;
    text-align: right;
}

div.jumbotron div.container {
    padding-right: 90px;
}

div.team img {
    float: left;
    vertical-align: middle;
    margin-right: 20px;
}

div.team p {
    text-align: justify;
}

div.team p.footer {
    clear: both;
    margin-top: 90px;
}

div.services li>strong {
    display: block;
}