<div class="jumbotron">
    <div class="container">
        <h1>Kancelaria Adwokacka</h1>

        <h2>Adwokat Monika Kunicka</h2>

        <!--<p>TODO Jakaś zajawka na temat usług</p>-->

        <!--<p><a class="btn btn-primary btn-lg">Poznaj zakres naszych usług &raquo;</a></p>-->
    </div>
</div>

<div class="container home">
    <div class="row">
        <div class="col-lg-4">
            <h2>O kancelarii</h2>

            <p>Kancelaria Adwokacka adwokat Moniki Kunickiej świadczy wszechstronną pomoc prawną, zapewniając swoim
                Klientom profesjonalną i kompleksową obsługę prawną na najwyższym poziomie.</p>

            <!--<p><a class="btn btn-default" href="#/o-kancelarii">Więcej informacji &raquo;</a></p>-->
        </div>
        <div class="col-lg-4">
            <h2>Oferta</h2>

            <p>Kancelaria prowadzi obsługę prawną zarówno dla klientów indywidualnych jak i przedsiębiorców.</p>

            <p>Oferuje wszechstronną pomoc w zakresie wielu dziedzin prawa, a zwłaszcza proponuje prowadzenie:</p>

            <ul>
                <li>spraw gospodarczych;</li>
                <li>spraw cywilnych, w tym rodzinnych (rozwody, alimenty) i spadkowych;</li>
                <li>windykacji należności;</li>
                <li>spraw z zakresu prawa pracy;</li>
                <li>spraw administracyjnych;</li>
                <li>spraw karnych.</li>
            </ul>

            <p><a class="btn btn-default" href="#/uslugi">Więcej informacji &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Kontakt</h2>

            <address>
                <strong>Kancelaria Adwokacka Adwokat Monika Kunicka</strong><br/>
                <span class="glyphicon glyphicon-phone"></span> 602 431 444<br/>
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:kancelaria@kunicka.com">kancelaria@kunicka.com</a><br/>
            </address>

            <!--<p><a class="btn btn-default" href="#/kontakt">Więcej informacji &raquo;</a></p>-->
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Kancelaria Adwokacka Adwokat Monika Kunicka 2013</p>
    </footer>
</div>