<div class="well prices">
    <h1>Cennik</h1>

    <p>Wynagrodzenie Kancelarii za prowadzenie obsługi prawnej jest zawsze ustalane indywidualnie, podczas spotkania
        z Klientem. Wysokość wynagrodzenia uzależniona jest od rodzaju zlecenia, terminu jego wykonania, nakładu
        pracy i wartości przedmiotu sprawy. Wynagrodzenie może mieć następującą formę:</p>
    <ul>
        <li>
            <strong>system rozliczeń godzinowych</strong>
            Wysokość wynagrodzenia zależy od ilości czasu poświęconego na wykonanie danego zlecenia. System ten jest
            stosowany przede wszystkim przy stałej obsłudze prawnej a także, gdy nie jest możliwe określenie z góry
            zakresu prac.
        </li>
        <li>
            <strong>wynagrodzenie zryczałtowane</strong>
            Wynagrodzenie określane jest poprzez ustalenie z góry konkretnej kwoty wynagrodzenia. System ten jest
            stosowany w sprawach, w których można w przybliżeniu określić zakres prac i ich wymiar czasowy.
        </li>
        <li>
            <strong>stały ryczałt miesięczny</strong>
            Jest to forma wynagrodzenia stosowana w przypadku Klientów korzystających z usługi stałej obsługi
            prawnej Kancelarii.
        </li>
    </ul>

    <p>Wszelkie opłaty sądowe i skarbowe oraz dodatkowe koszty związane z prowadzoną sprawą (opinie biegłych,
        ekspertyzy, dojazdy, itp.) pokrywa Klient. Wynagrodzenie Kancelarii jest płatne z góry.</p>

    <p>W przypadku niektórych spraw, przede wszystkim prowadzonych przed sądami, możliwe jest ustalenie
        wynagrodzenia za prowadzenie całej sprawy oraz wynagrodzenia częściowo zależnego od rezultatu (<em>success
            fee</em>).</p>
</div>