<div class="container services">
    <div class="well">
        <h1>Usługi</h1>
        <strong>Kancelaria zapewnia Klientom profesjonalne usługi w zakresie:</strong>
        <ul>
            <li>reprezentacji przed sądami i innymi organami administracyjnymi i samorządowymi,</li>
            <li>przygotowywania pozwów, środków zaskarżenia i innych pism procesowych,</li>
            <li>sporządzania opinii prawnych oraz projektów umów,</li>
            <li>udziału w negocjacjach i działaniach przedsądowych.</li>
        </ul>

        <strong>Najważniejsze dziedziny prawa, w których Kancelaria świadczy obsługę prawną:</strong>
        <ul>
            <li>prawo spółek handlowych, w szczególności problematyka tworzenia, łączenia i przekształcania spółek
                handlowych oraz nabywania ich udziałów albo akcji i ochrony praw korporacyjnych wspólników albo
                akcjonariuszy;
            </li>
            <li>prawo umów w obrocie gospodarczym krajowym i międzynarodowym;</li>
            <li>windykację roszczeń;</li>
            <li>prawo obrotu nieruchomościami;</li>
            <li>prawo bankowe;</li>
            <li>prawo ubezpieczeń;</li>
            <li>prawo pracy, w szczególności problematykę nawiązania i rozwiązania stosunku pracy oraz roszczeń
                odszkodowawczych z tego tytułu;
            </li>
            <li>podatkowe aspekty działalności przedsiębiorców;</li>
            <li>prawo spadkowe i rodzinne, także z elementem międzynarodowym;</li>
            <li>karnoprawną ochronę obrotu gospodarczego.</li>
        </ul>


        <p>Wynagrodzenie Kancelarii za prowadzenie obsługi prawnej jest zawsze ustalane indywidualnie, podczas spotkania
            z Klientem. Wysokość wynagrodzenia uzależniona jest od rodzaju zlecenia, terminu jego wykonania, nakładu
            pracy i wartości przedmiotu sprawy. Wynagrodzenie może mieć następującą formę:</p>
        <ul>
            <li>
                <strong>system rozliczeń godzinowych</strong>
                Wysokość wynagrodzenia zależy od ilości czasu poświęconego na wykonanie danego zlecenia. System ten jest
                stosowany przede wszystkim przy stałej obsłudze prawnej a także, gdy nie jest możliwe określenie z góry
                zakresu prac.
            </li>
            <li>
                <strong>wynagrodzenie zryczałtowane</strong>
                Wynagrodzenie określane jest poprzez ustalenie z góry konkretnej kwoty wynagrodzenia. System ten jest
                stosowany w sprawach, w których można w przybliżeniu określić zakres prac i ich wymiar czasowy.
            </li>
            <li>
                <strong>stały ryczałt miesięczny</strong>
                Jest to forma wynagrodzenia stosowana w przypadku Klientów korzystających z usługi stałej obsługi
                prawnej Kancelarii.
            </li>
        </ul>

        <p>Wszelkie opłaty sądowe i skarbowe oraz dodatkowe koszty związane z prowadzoną sprawą (opinie biegłych,
            ekspertyzy, dojazdy, itp.) pokrywa Klient. Wynagrodzenie Kancelarii jest płatne z góry.</p>

        <p>W przypadku niektórych spraw, przede wszystkim prowadzonych przed sądami, możliwe jest ustalenie
            wynagrodzenia za prowadzenie całej sprawy oraz wynagrodzenia częściowo zależnego od rezultatu (<em>success
                fee</em>).</p>
    </div>
</div>