<div class="well team">
    <h1>Zespół</h1>

    <img src="assets/img/monika_kunicka.jpg" alt="Monika Kunicka" title="Monika Kunicka"/>

    <h2>Monika Kunicka</h2>

    <p>
        Adwokat, członek Izby Adwokackiej w Warszawie. Ukończyła z wynikiem bardzo dobrym studia na Wydziale Prawa i
        Administracji Uniwersytetu Warszawskiego. Aplikację adwokacką odbyła przy Okręgowej Radzie Adwokackiej w
        Warszawie. Specjalizuje się w zagadnieniach prawa cywilnego w tym w windykacji roszczeń, prawie spadkowym,
        rodzinnym i opiekuńczym.Zajmuje się również prawem karnym i administracyjnym. Biegle włada językiem
        angielskim.
    </p>

    <p class="footer">Kancelaria współpracuje z adw. Magdaleną Kijowską-Dober.</p>
</div>